version: 2.1

orbs:
  win: circleci/windows@2.4.0

workflows:
  build-workflow:
    jobs:
      - build-x86_64:
          filters:
            branches:
              only:
                - master
      - build-arm64:
          filters:
            branches:
              only:
                - master

jobs:
  build-x86_64:
    machine:
      image: default
      docker_layer_caching: true
    steps:
      - run:
          name: Check OS
          command: uname -a

      - checkout
      - run:
          name: Build in docker
          command: |
            docker build . -t proxy:v1
            docker create --name ps proxy:v1
            mkdir -p build/docker
            docker cp ps:/usr/local/bin/proxy_server build/docker/
            docker rm ps

      - store_artifacts:
          path: build/docker

  build-arm64:
    machine:
      image: default
    resource_class: arm.medium
    steps:
      - run:
          name: Check OS
          command: uname -a

      - checkout
      - run:
          name: Build in docker
          command: |
            docker build . -t proxy:v1
            docker create --name ps proxy:v1
            mkdir -p build/docker
            docker cp ps:/usr/local/bin/proxy_server build/docker/
            docker rm ps

      - store_artifacts:
          path: build/docker